.header {
  border: 5px solid black;
  border-style:dashed;
  border-color:black;
  text-shadow: 2px 2px 4px white;
  background-color: rgb(242, 241, 241);
}

.container {
  padding: 4rem;
  width: 40rem;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 84%;
}

.grid-container-right {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 1fr;
  gap: 10px;
  grid-template-areas:
    "color1 color2 color3"
    "color4 color5 color6"
    "regen regen regen";
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 200px 200px;
}

.color-combo {
  color: white;
  text-align: center;
}

.start-message{
  margin-top: 2vw;
  text-align: center;
  font-size: 2vw;
  font-family: Clarkson, Helvetica, sans-serif;
}

.color1 {
  grid-area: color1;
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas:
    "top1"
    "bottom1";
}

.top1 {
  padding: 20px;
}

.bottom1 {
  background-color: blue;
  padding: 20px;
}

.color2 {
  grid-area: color2;
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas:
    "top2"
    "bottom2";
}

.top2 {
  background-color: red;
  padding: 20px;
}

.bottom2 {
  background-color: violet;
  padding: 20px;
}

.color3 {
  grid-area: color3;
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas:
    "top3"
    "bottom3";
}

.top3 {
  background-color: pink;
  padding: 20px;
}

.bottom3 {
  background-color: blue;
  padding: 20px;
}

.color4 {
  grid-area: color4;
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas:
    "top4"
    "bottom4";
}

.top4 {
  background-color: yellow;
  padding: 20px;
}

.bottom4 {
  background-color: blue;
  padding: 20px;
}

.color5 {
  grid-area: color5;
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas:
    "top5"
    "bottom5";
}

.top5 {
  background-color: red;
  padding: 20px;
}

.bottom5 {
  background-color: orange;
  padding: 20px;
}

.color6 {
  grid-area: color6;
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas:
    "top6"
    "bottom6";
}

.top6 {
  background-color: red;
  padding: 20px;
}

.bottom6 {
  background-color: green;
  padding: 20px;
}

.regen {
  grid-area: regen;
  display: flex;
  justify-content: center;
}

.regen-button {
  font-size: 16px;
  padding: 15px;
  background: white;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  width: 80%;
  margin-top: 1vw;
}

.left-container {
  background-color: antiquewhite;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.right-container {
  background-color: black;
  float: right;
  padding: 20px;
  box-sizing: border-box;
}

.color-buttons {
  margin-top: 3rem;
  width: 100%;
  justify-content: center;
  margin-bottom: 5vw;
}

h1 {
  font-size: 5vw;
  text-align: center;
  font-family: Clarkson, Helvetica, sans-serif;
}

h2 {
  margin-top: 2vw;
  font-size: 4vw;
  text-align: center;
}

h3 {
  font-size: 4vw;
  text-align: center;
  color: #ebeef1;
  margin-bottom: 2vw;
  margin-top: 1vw;
}

button.apparel {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin-left: 1vw;
  margin-top: 1vw;
  opacity: 1;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  background-color: antiquewhite;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button.colorButton {
  padding: 3vh;
  border: none;
}

.list {
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: 0.1rem solid grey;
  overflow: auto;
}

.add-members-container input {
  border: none;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
  margin-right: 0.5rem;
  width: 100%;
  display: flex;
}

.add-members-container button {
  width: 100%;
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(0, 53, 139);
  margin-top: 0.5rem;
}

.input-container {
  margin: 2rem 0;
  display: flex;
  height: 2rem;
}

.input-container button {
  width: 50%;
  background-color: darkcyan;
  border: none;
  color: white;
}

.input-container input {
  width: 50%;
}

.card {
  padding: 2rem;
  width: 100%;
}

.error-msg {
  color: red;
}

.page-container {
  display: flex; 
  flex-direction: column;
  justify-content: 1fr 3fr 3fr;
  height: 115vh;
}

.about-container {
  background-color: ivory;
}

.about-container p {
  font-size: 1.5rem;
  margin: 0 5rem 2rem;
}